*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
}

.cell {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

#pageTop {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}

#resetButton {
    height: 50px;
    width: 200px;
    background-color: rgb(112, 211, 211);
    border-radius: 15px;
    margin-right: 50px;
    font-size: 24px;
}